<h1>Todo管理アプリケーション</h1>

<p>こんにちは！<%= @user.name %>さん</p>

<p>
Todo管理アプリケーションへようこそ！
下のリンクをクリックしてアカウントを有効化してください！:
</p>

<%= link_to "アカウントを有効化する！", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>